.GameButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 98%;
	height: 44px;

	background: #0A1119;
	border: 2px solid rgba(0, 119, 255, 0.2);
	border-radius: 8px;
	transition-duration: 0.3s;
	cursor: pointer;
}
.GameButton:hover {
	transform: scale(1.05);
}